<div class="container">
  <div id="message-<%= message.id %>" class="<%= current_user == message.user ? 'sent' : 'received' %> messige" style="width: fit-content; max-width: calc(100% + 30px);">
    <div class="sender-info">
      <small class="text-muted">
        <% if current_user.teacher? %>
        <div class="user-info chatimg">
        <%= cl_image_tag message.user.photo.key, class: "user-img rounded-circle", style: "max-width: 30px;" if message.user.photo %>
        <strong>
          <%= message.user.first_name %>
        </strong>
      </div>
          <% elsif message.user.teacher? %>
        <div class="user-info chatimg">
          <strong style="color: orange;">
            <%= message.user.first_name %>
            <%= cl_image_tag message.user.photo.key, class: "user-img rounded-circle", style: "max-width: 30px;" if message.user.photo %>
          </strong>
        </div>

      <% else %>
        <% if @chatroom.users.count == 2 %>
          <div class="user-info chatimg">
            <strong>
              <%= message.user.first_name %>
              <%= cl_image_tag message.user.photo.key, class: "user-img rounded-circle", style: "max-width: 30px;" if message.user.photo %>
            </strong>
          </div>
        <% else %>
          <div class="user-info chatimg">
            <strong><i class="fas fa-user"></i> Anonymous</strong>
          </div>
        <% end %>
      <% end %>

      </small>
    </div>
    <div class="message-content">
      <p class="messegecontent" style="color: black;"><br><%= message.content %></p>
    </div>
    <br>
    <div class="messegedate"><%= message.created_at.strftime("%a %b %e at %l:%M %p") %></div>
    <br>
  </div>
</div>
