<div class="container">
  <div id="message-<%= message.id %>" class="<%= current_user == message.user ? 'sent' : 'received' %> messige" style="width: fit-content; max-width: calc(100% + 30px);">
    <div class="sender-info">
      <small class="text-muted">
        <div class="user-info chatimg">
          <%= cl_image_tag message.user.photo.key, class: "user-img rounded-circle", style: "max-width: 30px;" if message.user.photo && message.user.safe_image?(current_user) %>
          <strong>
            <%= message.user.safe_firstname(current_user) %>
          </strong>
        </div>
      </small>
      <div class="message-content messegecontent">
          <%= message.content.html_safe %>
      </div>
    </div>
    <br>
    <div class="messegedate"><%= message.created_at.strftime("%a %b %e at %l:%M %p") %></div>
    <br>
  </div>
</div>
