<div class="container">
  <div id="message-<%= message.id %>" class="<%= current_user == message.user ? 'sent' : 'received' %> messige" style="width: fit-content; max-width: calc(100% + 30px);">
    <div class="sender-info">
      <small class="text-muted ">
        <% if current_user.teacher? %>
          <strong><%= message.user.first_name %></strong>
        <% elsif message.user.teacher? %>
          <strong style="color: orange;">Teacher</strong>
        <% end %>
      </small>
    </div>
    <div class="message-content">
      <p class="messegecontent" style="color:black;"><br><%= message.content %></p>
    </div>
      <br>
      <div class="messegedate"><%= message.created_at.strftime("%a %b %e at %l:%M %p") %></div>
      <br>
  </div>
</div>
