<!-- Button trigger modal -->
<% @participants.each do |participant| %>
  <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#<%= participant.first_name %>">
    <div class="participant-card">
      <% border_color = "#{
        if participant.learning_style === 'visual'
          '#0D6EFD'
        elsif participant.learning_style === 'aural'
          '#FD1015'
        elsif participant.learning_style === 'reading'
          '#E67E22'
        else
          participant.learning_style === 'kinesthetic'
          '#1EDD88'
        end
      }" %> <!-- Generate a hex color according to their learning style-->

    <div class="position-relative">
      <%= cl_image_tag participant.photo.key, alt: "#", class: "studentimg", style: "border-color: #{border_color};" %>
      <span class="position-absolute bottom-0 start-100 translate-middle p-1 border border-light rounded-circle" style="background-color: <%= border_color %>">
        <span class="text-light fs-6">
          <% if participant.learning_style == 'visual' %>
              <i class="fa-regular fa-image"></i>
          <% elsif participant.learning_style == 'aural' %>
              <i class="fa-solid fa-headphones-simple"></i>
          <% elsif participant.learning_style == 'reading' %>
              <i class="fa-solid fa-book"></i>
          <% elsif participant.learning_style == 'kinesthetic' %>
              <i class="fa-solid fa-microphone"></i>
          <% end %>
        </span>
      </span>
    </div>

      <div class="text-light mt-5"><%= "#{participant.first_name} #{participant.last_name}" %></div>
    </div>
  </button>

<!-- Modal -->
<div class="modal fade" id="<%= participant.first_name %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel"><%= 'Check Up' %></h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <div class="profile-card">
          <%= cl_image_tag participant.photo.key, alt: participant.full_name, class: "avatar-large" %>
          <div class="profile-card-content">
            <div class="profile-content-info">
              <h1><%= participant.full_name %>'s Profile</h1>
            </div>
              <% stu_style_color = "#{
                if participant.learning_style === 'visual'
                  'blue'
                elsif participant.learning_style === 'aural'
                  'red'
                elsif participant.learning_style === 'reading'
                  'orange'
                else
                  participant.learning_style === 'kinesthetic'
                  'green'
                end
              }" %> <!-- Generate a hex color according to their learning style-->
              <button class="student-style" style="background-color: <%= stu_style_color %>">
                <%= participant.learning_style.capitalize %>
              </button>
          </div>
        </div>

        <div class="profile-lesson-container">
          <div class="profile-lesson">
            <% if @lessons_with_scores.any? %>
              <table>
                <thead>
                  <tr>
                    <th class="lesson-name-header">Lesson Name</th>
                    <th class="quiz-score-header">Quiz Score</th>
                  </tr>
                </thead>
                <tbody>

                  <tr class="lesson-row">
                    <td class="lesson-name-cell">
                      <%= participant.score.keys.dig(0) %>
                    </td>
                    <td class="quiz-score-cell">
                      <%= participant.score.values.dig(0) %> / 5
                    </td>
                  </tr>

                  <tr class="lesson-row">
                    <td class="lesson-name-cell">
                      <%= participant.score.keys.dig(1) %>
                    </td>
                    <td class="quiz-score-cell">
                      <%= participant.score.values.dig(1) %> / 5
                    </td>
                  </tr>

                  <tr class="lesson-row">
                    <td class="lesson-name-cell">
                      <%= participant.score.keys.dig(2) %>
                    </td>
                    <td class="quiz-score-cell">
                      <%= participant.score.values.dig(2) %> / 5
                    </td>
                  </tr>

                  <tr class="lesson-row">
                    <td class="lesson-name-cell">
                      <%= participant.score.keys.dig(3) %>
                    </td>
                    <td class="quiz-score-cell">
                      <%= participant.score.values.dig(3) %> / 5
                    </td>
                  </tr>

                </tbody>
              </table>
            <% else %>
              <p>This user has no lessons.</p>
            <% end %>
          </div>


        <div class="student-chart">
          <%= line_chart(participant.score, max: 5)%>
        </div>


        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<% end %>
