<h1>Quiz Results for <%= @lesson.title %></h1>

<table>
  <thead>
    <tr>
      <th>Student Name</th>
      <th>Correct Answers</th>
      <th>Total Questions</th>
    </tr>
  </thead>
  <tbody>
    <%= @student_responses.each do |student, score_data| %>
      <tr>
        <td><%= student.full_name %></td>
        <td><%= score_data[:correct_count] %> / <%= score_data[:total_questions] %></td>
        <td></td>
      </tr>
  </tbody>
</table>
