<div class="container chatroom p-4 rounded" style="max-height: 95vh; overflow-y: auto; width: 100%; max-width: 100vw;"
  data-controller="chatroom-subscription"
  data-chatroom-subscription-chatroom-id-value="<%= @chatroom.id %>">

  <div class="chatsize"> <!-- Adjusted to 12 columns for a wider appearance -->

    <h3 class="text-info mb-4 clasname"><%= @classroom.name %> general chat</h3>
    <div class="messages mt-4 text-dark" id="messages" data-chatroom-subscription-target="messages">
      <% if @chatroom %>
        <% @chatroom.messages.each do |message| %>
          <div class="message <%= message.user == current_user ? 'sent' : 'received' %>">
            <%= render partial: "messages/message", locals: { message: message } %>
          </div>
        <% end %>
      <% else %>
        <p class="alert alert-warning">No associated chatroom found.</p>
      <% end %>
    </div>

    <div class="sticky-bottom">
      <% if @chatroom %>
        <%= simple_form_for [@chatroom, @message], html: { class: "d-flex", id: "new-message-form" } do |f| %>
          <div class="input-group" style="max-width: 100%; position: relative; background-color: rgba(24, 119, 242, 0.7); border-radius: 20px; padding: 1px;">
            <%= f.input :content,
              label: false,
              placeholder: "Type a message...",
              wrapper_html: { class: "message-input form-control", style: "resize: none; height: 120px; color: white; border: none; padding: 3px; width: calc(100% - 80px); background-color: transparent;" }
            %>
            <div class="send-button" style="position: absolute; top: 50%; right: 0; transform: translateY(-50%); padding: 15px;">
              <%= f.submit "Send", class: "btn btn-primary send", style: "border: none; background-color: transparent; color: #1877f2; height: 100%;" %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>

</div>
