<!-- Button trigger modal -->
<button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#exampleModal">
  <%= cl_image_tag @user.photo.key, alt: @user.full_name, class: "avatar-large" %>
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl">
    <div class="modal-content">
      <div class="modal-header">

        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <div class="profile-card">
          <%= cl_image_tag @user.photo.key, alt: @user.full_name, class: "avatar-large" %>
          <div class="profile-card-content">
            <div class="profile-content-info">
              <h1><%= @user.full_name %>'s Profile</h1>
            </div>
            <button type="button" class="btn btn-light rounded" style="width: 162px;"><%= @user.learning_style.capitalize %></button>
          </div>
        </div>

        <div class="profile-lesson-container">
          <div class="profile-lesson">
            <% if @lessons_with_scores.any? %>
              <table>
                <thead>
                  <tr>
                    <th class="lesson-name-header">Lesson Name</th>
                    <th class="quiz-score-header">Quiz Score</th>
                  </tr>
                </thead>
                <tbody>
                  <% @lessons_with_scores.each do |lesson_with_score| %>
                    <tr class="lesson-row">
                      <td class="lesson-name-cell"><%= lesson_with_score[:lesson].title %></td>
                      <td class="quiz-score-cell"><%= lesson_with_score[:quiz_score] %> / 5</td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            <% else %>
              <p>This user has no lessons.</p>
            <% end %>
          </div>
        <div class="student-chart">
          <%= column_chart(@chart_data, max: 5)%>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>
