<!-- Button trigger modal -->
<% @students.each do |student| %>
  <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#<%= student.first_name %>">
    <div class="response-column">
      <div class="response-list">
        <div class="response-image">
          <div class="response-image">
            <% border_color = "#{
              if student.learning_style === 'visual'
                'blue'
              elsif student.learning_style === 'aural'
                'red'
              elsif student.learning_style === 'reading'
                'orange'
              else
                student.learning_style === 'kinesthetic'
                'green'
              end
            }" %> <!-- Generate a hex color according to their learning style-->

           <div class="position-relative">
  <%= cl_image_tag student.photo.key, alt: "#", class: "studentimg", style: "border-color: #{border_color};" %>
  <span class="position-absolute bottom-0 start-100 translate-middle p-1 border border-light rounded-circle" style="background-color: <%= border_color %>; width: 30px; height: 30px;">
    <span class="text-light fs-6">
      <% if student.learning_style == 'visual' %>
        <i class="fa-regular fa-image" style="width: 100%; height: 100%; border-radius: 50%;"></i>
      <% elsif student.learning_style == 'aural' %>
        <i class="fa-solid fa-headphones-simple" style="width: 100%; height: 100%; border-radius: 50%;"></i>
      <% elsif student.learning_style == 'reading' %>
        <i class="fa-solid fa-book" style="width: 100%; height: 100%; border-radius: 50%;"></i>
      <% elsif student.learning_style == 'kinesthetic' %>
        <i class="fa-solid fa-microphone" style="width: 100%; height: 100%; border-radius: 50%;"></i>
      <% end %>
    </span>
  </span>
</div>
          </div>
        </div>
        <div class="response-list-content">
          <div class="response-list-name">
            <%= student.full_name %> /
            <%= student.learning_style.capitalize %>
          </div>
          <div class="response-list-answer">
            <% score = student.score.values.dig(0) %>
            <% total = 5 %>
            <% percentage = score.to_f / total %>
            Quiz results:
            <span class="<%= 'low-score' if percentage <= 0.5 %>">
              <%= score %> / <%= total %>
            </span>
          </div>
        </div>
      </div>
    </div>
  </button>
  <!-- Modal -->
  <div class="modal fade" id="<%= student.first_name %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="profile-card">
            <div class="profile-card-content">
              <div class="profile-content-info">
               <%= cl_image_tag student.photo.key, alt: student.full_name, class: "avatar-large" %>
                <%= student.full_name %>
              </div>
              <% stu_style_color = "#{
                if student.learning_style === 'visual'
                  'blue'
                elsif student.learning_style === 'aural'
                  'red'
                elsif student.learning_style === 'reading'
                  'orange'
                else
                  student.learning_style === 'kinesthetic'
                  'green'
                end
              }" %> <!-- Generate a hex color according to their learning style-->
              <button class="student-style" style="background-color: <%= stu_style_color %>">
                <%= student.learning_style.capitalize %>
              </button>
            </div>
          </div>
          <div class="profile-lesson-container">
            <div class="profile-lesson">
              <% if student.score.any? %>
                <table class="quziscorex">
                  <thead>
                    <tr>
                      <th class="lesson-name-header">Lesson Name</th>
                      <br>
                      <th class="quiz-score-header">Quiz Score</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% student.score.each_with_index do |(lesson_name, score), index| %>
                      <% total = 5 %> <!-- Replace with the actual total per lesson if necessary -->
                      <% percentage = score.to_f / total %>
                      <tr class="lesson-row <%= 'low-score' if percentage <= 0.5 %>">
                        <td class="lesson-name-cell">
                          <%= lesson_name %>
                        </td>
                        <td class="quiz-score-cell">
                          <%= score %> / <%= total %>
                        </td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
              <% else %>
                <p>This user has no lessons.</p>
              <% end %>
            </div>
            <div class="student-chart">
              <%= line_chart(student.score, max: 5)%>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
