<!-- Button trigger modal -->
<% @students.each do |student| %>
  <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#<%= student.first_name %>">
    <div class="response-column">
      <div class="response-list">
        <div class="response-image">
          <div class="response-image">
            <% border_color = "#{
              if student.learning_style === 'visual'
                'blue'
              elsif student.learning_style === 'aural'
                'red'
              elsif student.learning_style === 'reading'
                'orange'
              else
                student.learning_style === 'kinesthetic'
                'green'
              end
            }" %> <!-- Generate a hex color according to their learning style-->
            <%= cl_image_tag student.photo.key, alt: student.full_name, class: "response-img", style: "border-color: #{border_color};" %>
          </div>
        </div>

        <div class="response-list-content">
          <div class="response-list-name">
            <%= student.full_name %> /
            <%= student.learning_style.capitalize %>
          </div>
          <div class="response-list-answer">
            correct <%= student.score.values.dig(0) %> / 5
          </div>
        </div>
      </div>
    </div>
  </button>

  <!-- Modal -->
  <div class="modal fade" id="<%= student.first_name %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel"><%= 'Check Up' %></h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

          <div class="profile-card">
            <%= cl_image_tag student.photo.key, alt: student.full_name, class: "avatar-large" %>
            <div class="profile-card-content">
              <div class="profile-content-info">
                <h1><%= student.full_name %>'s Profile</h1>
              </div>
              <% stu_style_color = "#{
                if student.learning_style === 'visual'
                  'blue'
                elsif student.learning_style === 'aural'
                  'red'
                elsif student.learning_style === 'reading'
                  'orange'
                else
                  student.learning_style === 'kinesthetic'
                  'green'
                end
              }" %> <!-- Generate a hex color according to their learning style-->
              <button class="student-style" style="background-color: <%= stu_style_color %>">
                <%= student.learning_style.capitalize %>
              </button>
            </div>
          </div>

          <div class="profile-lesson-container">
            <div class="profile-lesson">
              <% if student.score.any? %>
                <table>
                  <thead>
                    <tr>
                      <th class="lesson-name-header">Lesson Name</th>
                      <th class="quiz-score-header">Quiz Score</th>
                    </tr>
                  </thead>
                  <tbody>

                    <tr class="lesson-row">
                      <td class="lesson-name-cell">
                        <%= student.score.keys.dig(0) %>
                      </td>
                      <td class="quiz-score-cell">
                        <%= student.score.values.dig(0) %> / 5
                      </td>
                    </tr>

                    <tr class="lesson-row">
                      <td class="lesson-name-cell">
                        <%= student.score.keys.dig(1) %>
                      </td>
                      <td class="quiz-score-cell">
                        <%= student.score.values.dig(1) %> / 5
                      </td>
                    </tr>

                    <tr class="lesson-row">
                      <td class="lesson-name-cell">
                        <%= student.score.keys.dig(2) %>
                      </td>
                      <td class="quiz-score-cell">
                        <%= student.score.values.dig(2) %> / 5
                      </td>
                    </tr>

                    <tr class="lesson-row">
                      <td class="lesson-name-cell">
                        <%= student.score.keys.dig(3) %>
                      </td>
                      <td class="quiz-score-cell">
                        <%= student.score.values.dig(3) %> / 5
                      </td>
                    </tr>

                  </tbody>
                </table>
              <% else %>
                <p>This user has no lessons.</p>
              <% end %>
            </div>

          <div class="student-chart">
            <%= line_chart(student.score, max: 5)%>
          </div>

          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>

<% end %>
