<div data-controller="loader">
  <%= simple_form_for([@classroom, @lesson], html: { class: 'lesson-form'}) do |form| %>
    <div class="lesson-form-group">
      <%= form.input :date, html5: true, input_html: { class: "form-control" } %>
    </div>
    <div class="lesson-form-group">
      <%= form.input :title, input_html: { class: "form-control" } %>
    </div>
    <div class="lesson-form-group">
      <%= form.input :content, as: :text, input_html: { class: "form-control form-control-content", rows: 10, placeholder: "# Main headings\n --- \n ## Sub heading\n Content information \n---\n ##2nd Sub-heading\n Content information " } %>
      <div class="form-control-instruction">
        <p>Please use "#" for main headings</p>
        <p>Please use "##" for sub headings</p>
        <p>Please use "---" for slide seperation</p>
      </div>
    </div>
    <button class="creation-button" data-action="click->loader#spinner">
      <%= form.button :submit, class: "btn btn-lesson" %>
    </button>
  <% end %>

  <div class="loader-frame d-none" data-loader-target="loadcircle">
    <div class="loader"></div>
  </div>
</div>
