<h1 class="your-lessons">Your Lessons</h1>

<div class="row row-cols-1 row-cols-md-3 g-4 index-container">
  <div class="col container-card">
    <% @lessons.each do |lesson| %>
      <%= link_to lesson_path(lesson) + "?query=visual" do %>
        <div class="content-card">
          <%= image_tag "lessons/lesson1.jpg", class:"lesson-img" %>
          <div class="body-card">
            <button type="button" class="btn btn-secondary rounded-pill">TODAY</button>
            <h5 class="lesson-name"><%= lesson.title %></h5>
            <div class="rounded-pill bg-light">'</div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="col container-card">
    <div class="content-card">
      <%= image_tag "lessons/lesson2.jpg", class:"lesson-img" %>
      <div class="body-card body-card-from-2nd">
        <h5 class="lesson-name">Oral Communication II</h5>
        <div class="rounded-pill bg-light">'</div>
      </div>
    </div>
  </div>
  <div class="col container-card">
    <div class="content-card">
      <%= image_tag "lessons/lesson3.jpg", class:"lesson-img" %>
      <div class="body-card body-card-from-2nd">
        <h5 class="lesson-name">Social Science</h5>
        <div class="rounded-pill bg-light">'</div>
      </div>
    </div>
  </div>
  <div class="col container-card">
    <div class="content-card">
      <%= image_tag "lessons/lesson4.jpg", class:"lesson-img" %>
      <div class="body-card body-card-from-2nd">
        <h5 class="lesson-name">Language Arts</h5>
        <div class="rounded-pill bg-light">'</div>
      </div>
    </div>
  </div>
</div>

  <div class="average-chart">
    <%= line_chart(@chart_data, max: 5)%>
  </div>
