<h1 class="text-primary fs-1"><%= @lesson.title %></h2>

<br>

<%# Filter Buttons %>
<%= render 'style_filter' %>

<%# Visual Lesson Display %>
<%= render 'visual' %>

<br>

<%# Aural Lesson Display %>
<%= render 'aural' %>

<br>

<%# Reading Lesson Display %>
<%= render 'reading' %>

<br>

<%# Kinesthetic Lesson Display  %>
<%= render 'kinesthetic' %>
