<h1 class="header m-3"><%= params[:query] ? "#{params[:query].capitalize} Focused Lesson" : @lesson.title %></h2>
<p><%= @paragraph %></p>
<br>

<div class="lesson-container">
  <!-- Nav tabs -->
  <ul class="lesson lesson-tabs">
    <%= link_to lesson_path(@lesson) + "?query=visual" do %>
      <li class="lesson-item ">
        <%= image_tag "visual_icon.jpg", class: "filter-icons" %>
      </li>
    <% end %>
    <%= link_to lesson_path(@lesson) + "?query=aural" do %>
      <li class="lesson-item">
        <%= image_tag "audio_icon.jpg", class: "filter-icons" %>
      </li>
    <% end %>
    <%= link_to lesson_path(@lesson) + "?query=reading" do %>
      <li class="lesson-item">
        <%= image_tag "reading_icon.jpg", class: "filter-icons" %>
      </li>
    <% end %>
    <%= link_to lesson_path(@lesson) + "?query=kinesthetic" do %>
      <li class="lesson-item">
          <%= image_tag "video_icon.jpg", class: "filter-icons" %>
      </li>
    <% end %>
  </ul>

  <!-- Tab panes -->
  <div class="lesson-content">
    <div class="lesson-pane">
      <% if params[:query] == 'visual' && @visual.present?%>
        <%= render 'visual' %>
      <% elsif params[:query] == 'aural' && @aural.present? %>
        <%= render 'aural' %>
      <% elsif params[:query] == 'reading' && @reading.present?%>
        <%= render 'reading' %>
      <% else %>
        <%= render 'kinesthetic' if @kinesthetic.present? %>
      <% end %>
    </div>
  </div>
</div>

<div class="teacher-container">
  <%= image_tag "profile.png" %>
  <div class="teacher-container-infos">
    <h2><%= @lesson.title %></h2>
    <p>In this lesson, <strong>you'll</strong> be introduced to...</p>
  </div>
</div>

<div class="student-container">
  <% @students.each do |student| %>
    <div class="student-avatars">
      <%= image_tag student.photo %>
    </div>
  <% end %>
</div>

<div class="mt-4 w-25">
  <%= @lesson.content %>
</div>
