<h1 class="header"><%= params[:query] ? params[:query] : @lesson.title %></h2>

<br>

<div class="container d-flex flex-row-reverse">
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" id="myTabs">
    <li class="nav-item ">
      <%= link_to lesson_path(@lesson) + "?query=visual" do %>
        <a class="nav-link active" id="tab1-tab" data-toggle="tab" href="#tab1"><%= image_tag "visual_icon.jpg", class: "filter-icons" %></a>
      <% end %>
    </li>
    <li class="nav-item">
      <%= link_to lesson_path(@lesson) + "?query=aural" do %>
        <a class="nav-link" id="tab2-tab" data-toggle="tab" href="#tab2"><%= image_tag "audio_icon.jpg", class: "filter-icons" %></a>
      <% end %>
    </li>
    <li class="nav-item">
      <%= link_to lesson_path(@lesson) + "?query=reading" do %>
        <a class="nav-link" id="tab3-tab" data-toggle="tab" href="#tab3"><%= image_tag "reading_icon.jpg", class: "filter-icons" %></a>
      <% end %>
    </li>
    <li class="nav-item">
      <%= link_to lesson_path(@lesson) + "?query=kinesthetic" do %>
        <a class="nav-link" id="tab4-tab" data-toggle="tab" href="#tab4"><%= image_tag "video_icon.jpg", class: "filter-icons" %></a>
      <% end %>
    </li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div class="tab-pane fade show active" id="tab1">
          <%= link_to lesson_path(@lesson) + "?query=visual" do %>
      <%= render 'visual' %>
            <% end %>
    </div>
    <div class="tab-pane fade" id="tab2">
      <%= render 'aural' %>
    </div>
    <div class="tab-pane fade" id="tab3">
      <%= render 'reading' %>
    </div>
    <div class="tab-pane fade" id="tab4">
      <%= render 'kinesthetic' %>
    </div>
  </div>
</div>

<div class="teacher-container">
  <%= image_tag "profile.png" %>
  <div class="teacher-container-infos">
    <h2><%= @lesson.title %></h2>
    <p>In this lesson, <strong>you'll</strong> be introduced to...</p>
  </div>
</div>

<div class="student-container">
  <% @students.each do |student| %>
    <div class="student-avatars">
      <%= image_tag student.photo %>
    </div>
  <% end %>
</div>
